#main_content{
    background: black;
    height: 100%;
    width: 100%;
    display: flex;
}

#seen{
    width: 50%;
}

#notSeen{
    width: 50%;
}

body{
    height: 90%;
    width: 100%;
}

html{
    height: 100%;
}


footer{
    display: flex;
    background: rgb(15, 15, 15);
    color: #FFAA1D;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    height: 10%;
}

#seen,#notSeen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    color: #FFAA1D;
}


#carouselCardSeen, #carouselCardNotSeen{
    width: 18rem;
}

/*CSS Atricle Complet*/
.modal-body{
    display: flex;
    justify-content: space-between;
}

.modal-text{
    margin-left: 2%;
}

.modal-img{
    /*On bloque la taille des images à celle de la plus petite de la bd par soucis d'uniformité*/
    max-width: 193px;
    max-height: 261px;
    /*IMPORTANT NE PAS OUBLIER !!!*/
}

/*CSS Lié à l'affichage des films*/

.films-list{
    max-width: 800px;
    height: 100%;
    padding: 0 10px;

    overflow: auto;
}

.film{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    background: lightgray;
    opacity: 0.8;
    font-size: 0.9em;
}

.film-description{
    font-size: 1em;
}

